[Unit]
Description=Adserving
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill serving
ExecStartPre=-/usr/bin/docker rm serving
ExecStart=/usr/bin/docker run --net=host -v /var/log/serving:/var/log/serving --name serving serving
ExecStop=/usr/bin/docker stop serving

[Install]
WantedBy=default.target
