<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
        <Key>chym_trace</Key>
        <DefaultThreshold>DEBUG</DefaultThreshold>
        <MDCValueLevelPair>
            <value>true</value>
            <level>DEBUG</level>
        </MDCValueLevelPair>
    </turboFilter>

    <appender name="servingLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/serving/serving.log</File>
        <encoder>
            <pattern>[%p] %d %logger{5} %M %X{requestId} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/serving/serving.log.%d{yyyy-MM-dd-HH}.zip</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="servingLogger"/>
    </root>
</configuration>
