defaultRefreshTimeSeconds=10
jdbcConfigFile=/home/rubbal/codebase/serving/config/jdbc.config

kafka.bootstrap.servers=23.101.198.81:9092
kafka.key.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.value.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.max.block.ms=1000
kafka.acks=1

