defaultRefreshTimeSeconds=60
# 10 seconds
dbConnectTimeoutMillis=10000
defaultCtr=0.01
jdbcConfigFile=/home/serving/serving/config/jdbc.config

kafka.bootstrap.servers=13.88.177.217:9092
kafka.key.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.value.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.max.block.ms=1000
kafka.acks=1

kafkaTopicName=response_logs

